{% extends "base.html" %}
{% block title %}Albums{% endblock %}
{% block content %}
     <br>
<h1>Albums {{ mongoyes }}</h1><br>
    <a href ="/review_add" class="button-18" role ="button" aria-pressed="true">Post A Review</a><br><br>
    <div class="main-content">

    <table>
    <th>Album ID</th>
    <th>Album Name</th>
    <th>Release Date</th>
    <th>Artist ID</th>

	{% for row in data %}
	<tr>
		{% for item in row %}
			<td>{{ item }} </td>
		{% endfor %}
	</tr>
	{% endfor %}
    </table>
    </div>
{% endblock %}
