{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}<br>
<h1>Login</h1><br>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		     {% for msg in messages %}
		     	<p>{{msg}}</p>
		     {% endfor %}
		{% endif %}
	{% endwith%}
<form action="#" method="post">
	<p>Email:</p>
	<p><input type="email" name="email" /></p>
	<p>Password:</p>
	<p><input type="password" name="pass" /></p>
	<p><input type="submit" value="Submit" /></p>
</form><br> <br>
    <div class="main-content">
        <a href ="/register" class="button-18" role ="button" aria-pressed="true">New account? Register</a>
    </div>
{% endblock %}
